<div class="container max-width margin-top-15">
  <h1 class="text-center">Professional Information</h1>
  <div class="row justify-content-around margin-top-25">
    <div class="col-5">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Current Projects</h3>
          <p class="card-text">Currently I am working on:</p>
          <ol>
            <li>This website</li>
            <li>A Flutter application (can expand more upon request)</li>
            <li>Getting certified in AWS as a Developer Associate (DVA-C01)</li>
          </ol>
          <p>
            To see more about current and past projects visit the
            <a routerLink="/projects"> projects page</a>
          </p>
        </div>
      </div>
      <div class="card margin-top-25">
        <div class="card-body">
          <h3 class="card-title">Interests</h3>
          <p class="card-text">
            Right now I would be intererested in projects relating to:
          </p>
          <ol>
            <li>AWS Architecture Consulting/Configuration</li>
            <li>Full Stack Development</li>
            <li>Database Consulting</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="card col-5">
      <div class="card-body">
        <h3 class="card-title">Work</h3>
        <p class="card-text">
          I am a contractor/consultant working for Rocker Software Consulting
          B.V. I am currently engaged in a full time project for an indefinite
          amount of time, however, if you have a project you think I would be a
          good fit for please feel to email me at drocker3738 (dot) com.
        </p>
        <p>
          Historically I have worked for myKaarma, an auto service software
          which provides a suite of tools to car dealerships. I have been on
          projects related to helping to optimize our onboarding process,
          helping to build new angular features, helping to optimize queries
          performing at an unacceptable level, and helping to fix our processes
          both within the engineering team and between different departments.
        </p>
        <p>
          I have also worked for PocketExpert, a communication platform for car
          dealerships. Here I was one of two developers so had many
          responsiblities such as:
        </p>
        <ul>
          <li>
            Responsible for designing, building, testing, and updating numerous
            features from the ground up. Worked directly with the sales team,
            CEO, product manager, and support team to find the features that
            would best serve the customers.
          </li>
          <li>
            Optimized or redesigned and implemented fixes for several critical
            functions that were not performing at an acceptable level.
          </li>
          <li>
            Independently built multiple features that brought in over 200
            customers and over $600,000 yearly recurring revenue, helped
            solidify two national partnerships with Honda North America and Audi
            North America.
          </li>
          <li>
            Helped facilitate discussions and meetings to promote a more
            frictionless workplace.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
